// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
.sprite-a1 {
    width:96px;
    height:299px;
    background-position: 0px -273px;
}
.sprite-a2 {
    width:96px;
    height:241px;
    background-position: -297px -273px;
}
.sprite-a3 {
    width:96px;
    height:273px;
    background-position: -99px -273px;
}
.sprite-a4 {
    width:96px;
    height:269px;
    background-position: -198px -273px;
}
.sprite-webpack {
    width:497px;
    height:270px;
    background-position: 0px 0px;
}
.sprite-a1, .sprite-a2, .sprite-a3, .sprite-a4, .sprite-webpack, {
    background-image: url('../../images/sprite.png');
    background-repeat: no-repeat;
    background-size: 497px 572px;
}


